@import "tailwindcss";
@import "@nuxt/ui";

/* "Iris Wipe" transition */
/* 1. The entering page starts with a tiny closed circle and opens up */
.iris-enter-active {
  animation: iris-in 1s steps(20) forwards; /* steps() adds a retro 'choppy' feel */
}

/* 2. The leaving page starts full and closes down to a tiny circle */
.iris-leave-active {
  animation: iris-out 1s steps(20) forwards;
}

@keyframes iris-in {
  0% {
    clip-path: circle(0% at 50% 50%);
  }
  100% {
    clip-path: circle(150% at 50% 50%);
  }
}

@keyframes iris-out {
  0% {
    clip-path: circle(150% at 50% 50%);
    z-index: 100;
  }
  100% {
    clip-path: circle(0% at 50% 50%);
    z-index: 100;
  }
}

/* hourglass cursor effecr */
html:has(.iris-enter-active),
html:has(.iris-leave-active) {
  cursor:
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="black" stroke="white" stroke-width="2" d="M8,4 L24,4 L24,8 L18,14 L18,18 L24,24 L24,28 L8,28 L8,24 L14,18 L14,14 L8,8 Z" /><rect x="10" y="6" width="12" height="2" fill="white"/><rect x="10" y="24" width="12" height="2" fill="white"/><rect x="15" y="16" width="2" height="2" fill="white"/></svg>')
      16 16,
    wait !important;
}

html:has(.iris-enter-active) *,
html:has(.iris-leave-active) * {
  cursor: inherit !important;
  pointer-events: none !important;
}
